@charset "UTF-8";
body {
  font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding-top: 80px;
  color: #333;
}

a {
  color: inherit;
}

.container {
  max-width: 980px;
  min-width: 630px;
  height: 740px;
  margin: auto;
}
.container header {
  text-align: center;
}
.container header h1 {
  padding: 10px 40px;
  font-size: 32px;
  font-weight: 500;
  background: #d4e4fc;
  display: inline-block;
  border-radius: 5px;
  cursor: default;
}
.container main {
  width: 100%;
  padding-bottom: 80px;
}
.container main .main_top {
  margin-top: 83px;
  padding: 0 10px;
}
.container main .main_top::after {
  display: block;
  content: "";
  clear: both;
}
.container main .main_top .search_bar {
  width: 100%;
  margin-bottom: 10px;
}
.container main .main_top .search_bar input {
  width: 260px;
  height: 29px;
  padding: 0 5px;
  border: 1px solid #423F3F;
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  float: left;
  box-sizing: border-box;
}
.container main .main_top .search_bar input:focus {
  outline: none;
}
.container main .main_top .search_bar .button {
  display: inline-block;
  line-height: 17px;
  border: 1px solid #423F3F;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 17px;
  color: #fff;
  padding: 5px 15px;
  height: 29px;
  background: #696969;
  cursor: pointer;
}
.container main .main_top .search_bar .button:active {
  background: #4e4e4e;
}
.container main .main_top .date {
  float: right;
  font-size: 15px;
  color: #3D3C3C;
  cursor: default;
}
.container main .table_wrap {
  margin-top: 10px;
  padding: 20px;
  background: #FCFCFC;
  height: 600px;
  position: relative;
}
.container main .table_wrap table {
  width: 100%;
}
.container main .table_wrap table .star_img {
  width: 17px;
  height: 16px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.container main .table_wrap table .star_img:hover {
  transform: scale(1.1);
}
.container main .table_wrap table .star_img.checked {
  transform: scale(1.1);
}
.container main .table_wrap table thead tr {
  border-bottom: 1px solid #6F6B6B;
}
.container main .table_wrap table thead tr th {
  padding: 16px 0;
  white-space: nowrap;
}
.container main .table_wrap table thead tr th:first-child {
  width: 378px;
  display: flex;
}
.container main .table_wrap table thead tr th:first-child .star_img {
  margin-right: 6px;
}
.container main .table_wrap table thead tr th:nth-child(2) {
  width: 173px;
}
.container main .table_wrap table thead tr th:nth-child(3) {
  width: 106px;
}
.container main .table_wrap table thead tr th:nth-child(4) {
  width: 173px;
}
.container main .table_wrap table thead tr th:last-child {
  width: 110px;
}
.container main .table_wrap table thead::after {
  /* table-cell에서 thead와 tbody사이에 간격을 주는 방법 */
  display: block;
  content: "";
  height: 10px;
}
.container main .table_wrap table tbody tr td {
  padding: 19px 10px;
  border-bottom: 1px solid #C6BCBC;
  font-size: 17px;
  line-height: 19px;
}
.container main .table_wrap table tbody tr td.country_wrap {
  display: flex;
}
.container main .table_wrap table tbody tr td.country_wrap .flag_img {
  width: 21px;
  height: 16px;
  margin-right: 10px;
}
.container main .table_wrap table tbody tr td.country_wrap .country {
  display: flex;
  align-items: center;
}
.container main .table_wrap table tbody tr td.country_wrap .country .star_img {
  margin-left: 6px;
}
.container main .table_wrap table tbody tr td img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
.container main .table_wrap table tbody tr td:not(:first-child) {
  text-align: center;
}
.container main .paging {
  position: absolute;
  bottom: 10px;
  left: 48%;
  transform: translateX(-50%);
}
.container main .paging a {
  margin-right: 5px;
}
.container main .paging a.active {
  font-weight: bold;
  font-size: 17px;
}
.container main .caution {
  position: absolute;
  bottom: -18px;
  right: 0;
}
.container main .caution p {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  cursor: default;
}/*# sourceMappingURL=main.css.map */